@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

@font-face {
    font-family: 'misterearl_btregular';
    src: url('../../font/mister-earl/mister_earl_bt-webfont.eot');
    src: url('../../font/mister-earl/mister_earl_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/mister-earl/mister_earl_bt-webfont.woff') format('woff'),
         url('../../font/mister-earl/mister_earl_bt-webfont.ttf') format('truetype'),
         url('../../font/mister-earl/mister_earl_bt-webfont.svg#misterearl_btregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'heavyweightregular';
    src: url('../../font/heavyweight/heavywei-webfont.eot');
    src: url('../../font/heavyweight/heavywei-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/heavyweight/heavywei-webfont.woff') format('woff'),
         url('../../font/heavyweight/heavywei-webfont.ttf') format('truetype'),
         url('../../font/heavyweight/heavywei-webfont.svg#heavyweightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amatic_scbold';
    src: url('../../font/amatic/amaticsc-bold-webfont.eot');
    src: url('../../font/amatic/amaticsc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/amatic/amaticsc-bold-webfont.woff') format('woff'),
         url('../../font/amatic/amaticsc-bold-webfont.ttf') format('truetype'),
         url('../../font/amatic/amaticsc-bold-webfont.svg#amatic_scbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comic_zine_otregular';
    src: url('../../font/comic-zine/comic_zine_ot-webfont.eot');
    src: url('../../font/comic-zine/comic_zine_ot-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/comic-zine/comic_zine_ot-webfont.woff') format('woff'),
         url('../../font/comic-zine/comic_zine_ot-webfont.ttf') format('truetype'),
         url('../../font/comic-zine/comic_zine_ot-webfont.svg#comic_zine_otregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**
 * Sky theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #add9e4;
  background: radial-gradient(farthest-corner at center center , rgba(48, 131, 207, 0.2) 0%, rgba(0, 5, 38, 0.6) 40%, rgba(0, 0, 0, 0.95) 90%), url(../../img/can-dark.png) no-repeat bottom right 500px, url(../../img/can-pink.png) no-repeat bottom center, url(../../img/paper.png) no-repeat right 250px bottom -40px, url(../../img/trash.png) no-repeat bottom right, url(../../img/splash-floor.png) no-repeat bottom,url(../../img/cans.png) no-repeat bottom, url(../../img/floor.jpg) repeat-x bottom, url(../../img/bg.jpg) repeat;
 }
 
.reveal {
  font-family: "heavyweightregular";
  font-size: 36px;
  font-weight: 200;
/*  letter-spacing: -0.02em;*/
  color: #171410; }

::selection {
  color: white;
  background: #134674;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #74CAFF;
  font-family: "heavyweightregular";
  line-height: 0.9em;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-shadow: none; 
  opacity: 0.5;
}

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

  /*********************************************
 * NAV
 *********************************************/

 nav#main ul li {
  float: left;
  list-style: none;
  margin: 0 20px;
 }

  nav#main ul li a {
  color: #111
 }

 a.circle.stats {
  background: url(../../img/splash.png) no-repeat;
  color: #8EC7F5 !important;
    font-size: 3em;
    top: -295px;
    left: 0;
    padding: 150px 150px 50px 70px;
    position: absolute;
    text-decoration: none;
    white-space: nowrap;
    opacity: 0.6;
    transform: rotate(-13deg);


    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
 }

  a.circle.stats:hover,   a.circle.stats:active,   a.circle.stats:hover {

      padding: 150px 150px 170px 70px;
    opacity: .9;


 }

  a.circle.online {
  background: url(../../img/splash2.png) no-repeat;
  color: #FF7D4E !important;
    font-size: 2em;
    right: 0px;
    top: -450px;
    padding: 80px 50px 110px 100px;
    position: absolute;
    text-decoration: none;
    white-space: nowrap;
    opacity: 0.6;


    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
 }

   a.circle.online:hover,   a.circle.online:active,   a.circle.online:hover {
    background:url(../../img/splash2.png) no-repeat;
    padding: 120px 50px 160px 100px;
    opacity: .9;
 }

   a.circle.tips {
  background: url(../../img/splash3.png) ;
  color: #83D3B2 !important;
    font-size: 2em;
    left: 0;
    top: -500px;
    padding: 120px 70px 110px 160px;
    position: absolute;
      font-family: 'comic_zine_otregular';
    text-decoration: none;
    white-space: nowrap;
    opacity: 0.6;
        transform: rotate(13deg);


    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
 }

    a.circle.tips:hover {
    padding: 140px 70px 220px 160px;
    opacity: 1;
 }

   a.circle.logo {
  background: url(../../img/sag.png) ;
  color: #83D3B2 !important;
    font-size: 2em;
    left: 220px;
    top: -300px;
    padding: 120px 370px 410px 160px;
    position: absolute;
    text-decoration: none;
    white-space: nowrap;
    opacity: 0.6;
    transform: rotate(2deg);


    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
 }

    a.circle.logo:hover,   a.circle.logo:active,   a.circle.logo:hover {
    background:url(../../img/sag.png) no-repeat;
    opacity: .8;
 }

#can {
    position: absolute;
    z-index: 3000;
    bottom: 20px;
    right: 20%;
        -webkit-filter: drop-shadow(72px -11px 2px rgba(0,0,0,0.2))
 }

 #can2 {
    position: absolute;
    z-index: 4000;
    bottom: 0px;
    left: 15%;
    -webkit-filter: drop-shadow(62px -11px 2px rgba(0,0,0,0.2))
 }


#skull {

  opacity: .2;
      -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
 }




#skull:after {
  content: "☠";
  position: absolute;
  top: -200px;
  left: 5%;
  font-size: 45em;
  display: block;
  color: rgba(164, 211, 255, 0.7);
 }






/*********************************************
 * LINKS
 *********************************************/
/*.reveal a:not(.image) {
  color: #3b759e;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #74a7cb;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #264c66; }*/

.reveal a {
    color: #F5E985;
    position: relative;
}


/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
/*  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);*/
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

/*.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #3b759e;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }*/

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #F29FCB; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #F29FCB; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #F29FCB; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #F29FCB; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #74a7cb; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #74a7cb; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #74a7cb; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #74a7cb; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #3b759e;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

  /*********************************************
 * OTHER
 *********************************************/
/*#floor {
  background: url(../../img/floor2.jpg) repeat-x bottom;
  height: 300px;
  width: 100%;
  position: fixed;
  bottom: 89px
}*/

span.tweak {
  display: inline-block;
    font-size: 110%;
     -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
span.tweak2 {
  display: inline-block;
    font-size: 90%;
     -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    opacity: .9
}
span.tweak3 {
  display: inline-block;
    font-size: 100%;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    opacity: .7;;
    position: relative;
    top: 5px
}
span.tweak4 {
  color: #FF95E9;
    display: inline-block;
    font-size: 140%;
    opacity: 0.8;
    position: relative;
    top: 5px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
span.tweak5 {
  color: #FF95E9;

    font-size: 150%;
    opacity: 0.8;
    position: relative;
    text-shadow: 0 3px 0 #111111;
    top: 5px;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
h2.leaderboard {
  position: relative;
  top: -500px;
  color: #fff;
  font-size: 3em
}
h2.leaderboard.small {
    color: #111;
    letter-spacing: .4em;
     top: -550px;
}
h2.leaderboard.small2 {
    color: #F197DF;
    font-size: 130%;
    letter-spacing: 0.4em;
    top: -100px;
}
h2.leaderboard.small span {
    color: #E68FDC;
    letter-spacing: 0;
    opacity: 0.9;
}

#about {
    color: #DA55A9 !important;
    font-family: 'amatic_scbold';
    font-size: 80%;
    opacity: 0.8;
    position: relative;
    top: -450px !important;
}

#about h2 {
    font-size: 5em;
    color: #FF088B

}

#about p::first-letter {
    background: none repeat scroll 0 0 rgba(255, 71, 193, 0.1);
    color: #FF91D2;
    font-size: 120%;
    padding: 5px;
}

#about p:nth-child(2) {
   -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    font-size: 120%
}

.change-color .reveal .state-background{background:rgba(48, 0, 35, 0.7)}
.change-color2 .reveal .state-background{background:rgba(0, 52, 38, 0.5)}
.change-color3 .reveal .state-background{background:rgba(16, 1, 54, 0.5)}
.change-color4 .reveal .state-background{background:rgba(120, 100, 0, 0.3)}

section#tips {
  top: -100px !important;
  color: #111
}

section#tips h2 {
  color: #8DDE54;
  font-size: 4em
}

section#tips p:before {
  content: "✰";
  font-size: 3em;
  color: rgba(214, 255, 159, 0.7);
  background: rgba(0,0,0,.2);
}

section#tips p:nth-child(2) {
    -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  font-size: 140%;
    color: #72A077
}
section#tips p:nth-child(4) {
  transform: rotate(-2deg);
  font-size: 110%
}

section#online h2 {
  color: rgba(255, 141, 65, 0.6);
    font-size: 6em;
    position: absolute;
    right: 0;
    text-shadow: 0 30px 0 #041129;
    top: -200px;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
section#online h2.pretitle {
    color: rgba(0, 0, 0, 0.6);
    font-size: 2em;
    position: absolute;
    left: 320px;
    text-shadow: none;
    top: -250px;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

section#online {

  color: rgba(251, 248, 180, 0.8)
}

ul#online-list li {
  list-style: none;
  padding: 50px;
  text-shadow: 30px 120px 6px rgba(0,0,0,.4);
  -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
      animation-duration: 2s;
    animation-iteration-count: infinite;

}
ul#online-list li span.time {
    display: inline-block;
    position: relative;
    top: -10px;
    padding:0 10px;
    font-size: 50%;
    color: #FFEEAD;
    font-family: 'amatic_scbold';
    background: #EB9C61;
}


ul#online-list li:nth-child(2n+1) {
  transform: rotate(5deg);
  font-size: 140%;
    color: rgba(251, 248, 180, 0.8);
    position: absolute;
    left: -10%;
    padding:20px;
}

ul#online-list li:nth-child(3n+3) {
  transform: rotate(5deg);
  font-size: 140%;
    color: rgba(251, 248, 180, 0.8);
    position: absolute;
    left: 20%;
        padding:70px;
}

ul#online-list li:nth-child(4n+2) {
  transform: rotate(-5deg);
  font-size: 120%;
    color: rgba(251, 248, 180, 0.8);
        position: absolute;
    right: -20%;
         padding:40px;
}
ul#online-list li:nth-child(5n+2) {
  transform: rotate(-15deg);
  font-size: 110%;
    color: rgba(251, 248, 180, 0.8);
        position: absolute;
    right: 10%;
         padding:60px;
}

#foo, #foo2 {

  opacity: .2;
      -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
 }
/*#foo:after {
  content: "✲";
  position: absolute;
  top: -200px;
  left: 5%;
  font-size:75em;
  display: block;
  color: rgba(255, 180, 162, 0.4);
 }*/

#foo2 {

  opacity: .4;
      -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
 }

 #foo2:after {
   color: rgba(255, 255, 255, 0.2);
    content: "☠";
    display: block;
    font-size: 15em;
    position: absolute;
    right: -15%;
    top: -300px;
 }

  #foo3:after {
   color: rgba(255, 255, 255, 0.4);
    content: "3D";
    display: block;
    font-size: 1.6em;
    position: absolute;
    right: 420px;
    top: -170px;

 }
   #foo4:after {
    bottom: -220px;
    color: rgba(0, 0, 0, 0.2);
    content: "kaupunni";
    display: block;
    font-family: 'comic_zine_otregular';
    font-size: 1.4em;
    position: absolute;
    right: 340px;
 }


/*********************************************
 * TABLE
 *********************************************/
 table {
  width: 100%;
  position: relative;
  top: -550px;
  color: #F9C3FC;
 }
  table#ten-to-twenty {
  width: 100%;
  position: relative;
  top: -100px
 }

 tr {
  opacity: .7;
  border-bottom: 12px solid #FFFFFF
}
.header {
    border-bottom: 12px dashed rgba(255,255,255, .2) !important;
}
 th {
  color: #000 !important;
  font-size: 70% !important;
  opacity: 0.7;
}

 td:nth-child(1) {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    color: #350039;
    opacity: 0.8;
}

 tr:nth-child(1) {
  font-size: 170%;
}

tr:nth-child(1) td:nth-child(1) {
  padding-bottom: 20px !important;
  padding-top: 20px !important
}

tr:nth-child(2) td:nth-child(1) {
  padding-bottom: 20px !important
}

tr:nth-child(3) td:nth-child(1) {
  padding-bottom: 20px !important
}

tr:nth-child(2) {
  font-size: 150%;
}

tr:nth-child(3) {
  font-size: 130%;
}

 tr:nth-child(even) {
  opacity: .5
}


