/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
 background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMGM4ZmYiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDUyNiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuOTUiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+), url(../../img/bg_alt2.jpg) repeat;
     
     background: -webkit-radial-gradient(farthest-corner at center center , rgba(0, 200, 255, 0.3) 0%, rgba(0, 5, 38, 0.5) 50%, rgba(0, 0, 0, 0.95) 90%), url(../../img/bg_alt2.jpg) repeat;
          
    background: -o-radial-gradient(farthest-corner at center center , rgba(0, 200, 255, 0.3) 0%, rgba(0, 5, 38, 0.5) 50%, rgba(0, 0, 0, 0.95) 90%), url(../../img/bg_alt2.jpg) repeat;
          
    background: -ms-radial-gradient(farthest-corner at center center , rgba(0, 200, 255, 0.3) 0%, rgba(0, 5, 38, 0.5) 50%, rgba(0, 0, 0, 0.95) 90%), url(../../img/bg_alt2.jpg) repeat;
                    
    background: -moz-radial-gradient(farthest-corner at center center , rgba(0, 200, 255, 0.3) 0%, rgba(0, 5, 38, 0.5) 50%, rgba(0, 0, 0, 0.95) 90%), url(../../img/bg_alt2.jpg) repeat;
                                        
    background: radial-gradient(farthest-corner at center center , rgba(0, 200, 255, 0.3) 0%, rgba(0, 5, 38, 0.5) 50%, rgba(0, 0, 0, 0.95) 90%), url(../../img/bg_alt2.jpg) repeat;
                         
/*      background: radial-gradient(farthest-corner at center center , rgba(40, 130, 166, 0.5) 0%, rgba(0, 5, 38, 0.5) 40%, rgba(0, 0, 0, 0.95) 90%), url(../../img/bg_alt2.jpg) repeat, url(../../img/floor.jpg) repeat-x bottom; */
/*     background: url(../../img/atmo.png) center, url(../../img/can-pink.png) no-repeat bottom 30px center, url(../../img/paper.png) no-repeat right 250px bottom -40px, url(../../img/trash.png) no-repeat bottom right, url(../../img/splash-floor.png) no-repeat bottom,url(../../img/cans.png) no-repeat bottom, url(../../img/floor.jpg) repeat-x bottom, url(../../img/bg.jpg) repeat; */
   
/*     background: radial-gradient(farthest-corner at center center , rgba(48, 131, 207, 0.2) 0%, rgba(0, 5, 38, 0.6) 40%, rgba(0, 0, 0, 0.95) 90%), url(../../img/can-pink.png) no-repeat bottom 30px center, url(../../img/paper.png) no-repeat right 250px bottom -40px, url(../../img/trash.png) no-repeat bottom right, url(../../img/splash-floor.png) no-repeat bottom,url(../../img/cans.png) no-repeat bottom, url(../../img/floor.jpg) repeat-x bottom, url(../../img/bg.jpg) repeat; */
}

.reveal {
    font-family: "heavyweightregular";
    font-size: 36px;
    font-weight: 200;
/*  letter-spacing: -0.02em;*/
    color: #171410;
}

::-moz-selection {
    color: white;
    background: #111;
    text-shadow: none;
}

::selection {
    color: white;
    background: #111;
    text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    color: #74CAFF;
    font-family: "heavyweightregular";
    line-height: 0.9em;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-shadow: none;
    opacity: 0.5;
}

.reveal h1 {
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

  /*********************************************
 * NAV
 *********************************************/

nav#main ul li {
    float: left;
    list-style: none;
    margin: 0 20px;
}

nav#main ul li a {
    color: #111;
}

a.circle.stats {
    background: url("../../img/splash.png") no-repeat scroll 0 0 transparent;
    color: #D2AEF5 !important;
    font-size: 3em;
    left: -100px;
    opacity: 0.6;
    padding: 150px 150px 50px 70px;
    position: absolute;
    text-decoration: none;
    text-shadow: 0 15px 0 rgba(0, 0, 0, 0.6), 0 40px 10px rgba(0, 0, 0, 0.6);
    top: -95px;
    transform: rotate(-13deg);
    white-space: nowrap;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

a.circle.stats:hover,   a.circle.stats:active,   a.circle.stats:hover {
    opacity: .8;
}

a.circle.online {
    background: url("../../img/splash2.png") no-repeat scroll 0 0 transparent;
    color: #F1DC78 !important;
    font-size: 2em;
    opacity: 0.6;
    padding: 80px 50px 110px 100px;
    position: absolute;
    left: 600px;
    text-decoration: none;
    text-shadow: 0 10px 0 rgba(0, 0, 0, 0.6);
    top: -50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    white-space: nowrap;
}

a.circle.online:hover,   a.circle.online:active,   a.circle.online:hover {
    opacity: .8;
}

a.circle.tips {
    background: url(../../img/splash3.png);
    color: #83D3B2 !important;
    font-size: 2em;
    left: 0;
    top: -500px;
    padding: 120px 70px 110px 160px;
    position: absolute;
    font-family: 'comic_zine_otregular';
    text-decoration: none;
    white-space: nowrap;
    opacity: 0.6;
    transform: rotate(13deg);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

a.circle.tips:hover {
    padding: 140px 70px 220px 160px;
    opacity: 1;
}

.circle.logo {
    background: url(../../img/sag.png) no-repeat;
    color: #83D3B2 !important;
    font-size: 2em;
    height: 300px;
    width: 400px;
    left: 270px;
    top: -120px;
    z-index: 30;
    position: absolute;
    text-decoration: none;
    white-space: nowrap;
    opacity: 0.9;
    -webkit-animation-delay: 3s;
    -webkit-animation-duration: .1s;
    -webkit-animation-iteration-count: 5;
    animation-delay: 3s;
    animation-duration: .1s;
    animation-iteration-count: 5;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.circle.logo:hover,   a.circle.logo:active,   a.circle.logo:hover {
    background: url(../../img/sag.png) no-repeat;
    opacity: 1;
}

#stars {
    background: url(../../img/stars.png) no-repeat;
    color: #83D3B2 !important;
    height: 231px;
    width: 695px;
    left: -13px;
    top: 152px;
    z-index: 15;
    position: absolute;
}

#plug {
    background: url(../../img/plug.png) no-repeat;
    color: #83D3B2 !important;
    font-size: 2em;
    height: 287px;
    width: 57px;
    left: 307px;
    top: 152px;
    z-index: 20;
    position: absolute;
}


/*
#can {
    position: absolute;
    z-index: 3000;
    bottom: 20px;
    right: 20%;
    -webkit-filter: drop-shadow(72px -11px 2px rgba(0,0,0,0.2));
}

#can2 {
    position: absolute;
    z-index: 4000;
    bottom: 0px;
    left: 15%;
    -webkit-filter: drop-shadow(62px -11px 2px rgba(0,0,0,0.2));
}

#skull {
    opacity: .2;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

#skull:after {
    content: "☠";
    position: absolute;
    top: -200px;
    left: 5%;
    font-size: 45em;
    display: block;
    color: rgba(164, 211, 255, 0.7);
}

*/

#floor {
 	background: url("../../img/floor_alt.jpg") repeat-x;
 	background: radial-gradient(farthest-corner at center center , rgba(98, 232, 255, 0.6) 0%, rgba(0, 33, 92, 0.3) 60%, rgba(0, 0, 0, 0.95) 95%), url("../../img/floor_alt.jpg") repeat-x;
    bottom: 0;
    height: 158px;
    position: fixed;
    width: 100%;
        -webkit-animation-delay: 3s;
    -webkit-animation-duration: .1s;
    -webkit-animation-iteration-count: 5;
    animation-delay: 3s;
    animation-duration: .1s;
    animation-iteration-count: 5;
}






/*********************************************
 * LINKS
 *********************************************/
/*.reveal a:not(.image) {
  color: #3b759e;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #74a7cb;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #264c66; }*/

.reveal a {
    color: #F5E985;
    position: relative;
}


/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
    margin: 15px 0px;
/*  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);*/
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

/*.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #3b759e;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }*/

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
    border-right-color: #F29FCB;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
    border-left-color: #F29FCB;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
    border-bottom-color: #F29FCB;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
    border-top-color: #F29FCB;
}

.reveal .controls div.navigate-left.enabled:hover {
    border-right-color: #74a7cb;
}

.reveal .controls div.navigate-right.enabled:hover {
    border-left-color: #74a7cb;
}

.reveal .controls div.navigate-up.enabled:hover {
    border-bottom-color: #74a7cb;
}

.reveal .controls div.navigate-down.enabled:hover {
    border-top-color: #74a7cb;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
    background: #F6AEFB;
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

  /*********************************************
 * OTHER
 *********************************************/
/*#floor {
  background: url(../../img/floor2.jpg) repeat-x bottom;
  height: 300px;
  width: 100%;
  position: fixed;
  bottom: 89px
}*/

span.tweak {
  	display: inline-block;
    font-size: 140%;
    position: relative;
    right: -20px;
    transform: rotate(-5deg);
}

span.tweak2 {
    display: inline-block;
    font-size: 120%;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    opacity: .9;
}

span.tweak3 {
    display: inline-block;
    font-size: 100%;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    opacity: .7;
	left: 20px;
    position: relative;
    top: 5px;
}

span.tweak4 {
    color: #FF95E9;
    display: inline-block;
    font-size: 140%;
    opacity: 0.8;
    position: relative;
    top: 5px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

span.tweak5 {
    color: #FF95E9;
    font-size: 150%;
    opacity: 0.8;
    position: relative;
    text-shadow: 0 3px 0 #111111;
    top: 5px;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

span.tweak3 {
    display: inline-block;
    font-size: 100%;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    opacity: .7;
    position: relative;
    top: 5px;
}

h2.leaderboard {
   	color: #FFFFFF;
    font-size: 2em;
    left: -30px;
    position: relative;
    top: 150px;
}

h2.leaderboard.small {
    color: #111111;
    font-size: 3em;
    letter-spacing: 0.4em;
    margin-bottom: 100px;
    top: -30px;
}

h2.leaderboard.small2 {
    color: #F197DF;
    font-size: 200%;
    letter-spacing: 0.4em;
    top: -20px;
}

h2.leaderboard.small span {
    color: #E68FDC;
    letter-spacing: 0;
    opacity: 0.9;
}

#about {
    color: #DA55A9 !important;
    font-family: 'amatic_scbold';
    opacity: 0.8;
    position: relative;
    top: -150px !important;
}

#about h2 {
    font-size: 5em;
    color: #FF088B;
}

#about p::first-letter {
    background: none repeat scroll 0 0 rgba(255, 71, 193, 0.1);
    color: #FF91D2;
    font-size: 120%;
    padding: 5px;
}

#about p:nth-child(2) {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    font-size: 120%;
}

.change-color .reveal .state-background {
    background: rgba(48, 0, 35, 0.7);
}

.change-color2 .reveal .state-background {
    background: rgba(0, 52, 38, 0.5);
}

.change-color3 .reveal .state-background {
    background: rgba(16, 1, 54, 0.5);
}

.change-color4 .reveal .state-background {
    background: rgba(120, 100, 0, 0.3);
}

section#tips {
    top: -100px !important;
    color: #111;
}

section#tips h2 {
    color: #8DDE54;
    font-size: 4em;
}

section#tips p:before {
    content: "✰";
    font-size: 3em;
    color: rgba(214, 255, 159, 0.7);
    background: rgba(0,0,0,.2);
}

section#tips p:nth-child(2) {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    font-size: 140%;
    color: #72A077;
}

section#tips p:nth-child(4) {
    transform: rotate(-2deg);
    font-size: 110%;
}

section#online h2 {
    color: rgba(0, 141, 255, 0.6);
    font-family: "08_undergroundregular";
    font-size: 3em;
    left: 300px;
    position: absolute;
    text-shadow: 0 10px 0 #A9FFFE;
    top: -270px;
    transform: rotate(-5deg);
}

section#online h2.pretitle {
 	color: rgba(170, 189, 255, 0.9);
    font-family: 'edoregular';
    font-size: 2em;
    left: 390px;
    position: absolute;
    text-shadow: none;
    top: -340px;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

section#online {
    color: rgba(180, 214, 251, 0.8);
}

ul#online-list {
    left: 0;
    position: absolute;
    top: -100px;
    width: 100%;
}

ul#online-list li {
    list-style: none;
    padding: 50px;
    text-shadow: 30px 120px 6px rgba(0,0,0,.4);
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

ul#online-list li span.time {
	background: #216BA7;
    color: #00D9FF;
    display: inline-block;
    font-family: 'edoregular';
    font-size: 50%;
    padding: 0 10px;
    position: relative;
    top: -10px;
}

ul#online-list li:nth-child(2n+1) {
    transform: rotate(5deg);
    font-size: 140%;
    position: absolute;
    left: 40%;
    padding: 0;
}

ul#online-list li:nth-child(3n+3) {
    transform: rotate(5deg);
    font-size: 140%;
    position: absolute;
    left: 20%;
    padding: 70px;
}

ul#online-list li:nth-child(4n+2) {
    transform: rotate(-5deg);
    font-size: 120%;
    position: absolute;
    right: -10%;
    padding: 40px;
}

ul#online-list li:nth-child(5n+2) {
    transform: rotate(-15deg);
    font-size: 110%;
    position: absolute;
    right: 10%;
    padding: 120px;
}

#foo, #foo2 {
    opacity: .2;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

#wallpaint:after {
    color: rgba(255, 255, 255, 0.1);
    content: "3D";
    font-family: '08_undergroundregular';
    display: block;
    font-size: 1.6em;
    position: absolute;
    right: 460px;
    top: -390px;
}

#wallpaint2:after {
    color: rgba(115, 119, 133, 0.2);
    content: "kaupunni";
    display: block;
    font-family: '08_undergroundregular';
    font-size: 1.4em;
    position: absolute;
    right: 380px;
    top: -350px;
}


/*********************************************
 * TABLE
 *********************************************/
table {
    width: 100%;
    position: relative;
    top: -70px;
    color: #F9C3FC;
	font-family: 'edoregular' !important;
    font-size: 40px !important;
}

table#ten-to-twenty {
    width: 100%;
    position: relative;
    top: 0;
}

tr {
    opacity: .7;
    border-bottom: 12px solid #FFFFFF;
}

.header {
    border-bottom: 12px solid rgba(255,255,255, .2) !important;
   font-family: "heavyweightregular" !important;    
   font-size: 120% !important
}

th {
    color: #FF8CFB !important;
    font-size: 70% !important;
    opacity: 0.7;
}

td:nth-child(1) {
    color: #FF8CFB;
    font-family: "heavyweightregular" !important;  
    opacity: 0.8;
}



/*

tr:nth-child(even) {
    opacity: .5;
}
*/


